[package]
name = "foundry-resources"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
async-trait = { workspace = true }
thiserror = { workspace = true }
chrono = { workspace = true }
sea-orm = { workspace = true }
axum = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }
