[package]
name = "foundry-verbosity"
description = "Verbosity level support for CLI commands (-v, -vv, -vvv)"
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
clap = { workspace = true, optional = true }

[features]
default = []
clap = ["dep:clap"]
