[package]
name = "foundry-plugins"
description = "Plug-in traits and contracts for Foundry Core"
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
foundry-domain = { path = "../foundry-domain" }
http = "1"
